@{
    ViewData["Title"] = "Alumno Home";
}

<div style="width: 620px;" class="container justify-content-center">
    <h2 class="text-center mb-5">Alumno</h2>

    <ul>
        <li>
            <a asp-controller="Alumno" asp-action="Profile" class="fs-5 text-decoration-none">Perfil</a>
        </li>
    </ul>
</div>
