<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Borja Swim School</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Borja Swim School</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        
                        @if (Context.User.IsInRole("Administrator"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                    id="navbarDDMenuAdministrator" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrador
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDDMenuAdministrator">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="Index">Inicio</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="AllRole">Gestión de Roles</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="AllUser">Listado de Usuarios</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="AllCurso">Listado de Cursos</a></li>
                                </ul>
                            </li>
                        }
                        @if (Context.User.IsInRole("Coach"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                    id="navbarDDMenuCoach" data-bs-toggle="dropdown" aria-expanded="false">
                                    Entrenador
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDDMenuCoach">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Entrenador" asp-action="Index">Inicio</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Entrenador" asp-action="Profile">Perfil</a></li>
                                </ul>
                            </li>
                        }
                        @if (Context.User.IsInRole("Swimmer"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                    id="navbarDDMenuSwimmer" data-bs-toggle="dropdown" aria-expanded="false">
                                    Alumno
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDDMenuSwimmer">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Alumno" asp-action="Index">Inicio</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Alumno" asp-action="Profile">Perfil</a></li>
                                </ul>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav justify-content-end">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <input type="button" class="btn btn-danger rounded-pill" value="Cerrar sesión (@User.Identity.Name)" />
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">
                                    <input type="button" class="btn btn-primary rounded-pill" value="Iniciar sesión" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">
                                    <input type="button" class="btn btn-primary rounded-pill" value="Regístrate" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2022 - Borja Swim School
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
