@{
    ViewData["Title"] = "Acceso Denegado";
}

<div style="width: 640px;" class="container justify-content-center text-uppercase">
  <h1 class="mb-4">Error 404</h1>
  <p>Access Denied.</p>
  <p>Please try to <a href="#1">[go back]</a> or <a asp-controller="Home" asp-action="Index">[return to the homepage]</a>.</p>
  <p>Good luck.</p>
</div>
