@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Bienvenido</h1>
    <img src="~/images/SwimSchool.jpg" alt="Swim School" width="720px" height="410px" class="rounded" />

    <h5 class="mt-3">Escuela de natación que ofrece clases para niños, jóvenes y adultos.</h5>
</div>
