@using BorjaSwimSchoolApp.Enums
@using BorjaSwimSchoolApp.ViewModels
@model AdministratorAddCursoViewModel
@{
    ViewData["Title"] = "Add Curso";
}

<div style="width: 600px;" class="container justify-content-center">
    <h3 class="text-center mb-4">Agregar Curso</h3>

    <form asp-controller="Administrator" asp-action="AddCurso" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb-4">
            <strong><label asp-for="Curso.Nivel" class="form-label"></label></strong>
            <select asp-for="Curso.Nivel" asp-items="@Html.GetEnumSelectList<CursoNivelEnum>()" class="form-select"></select>
            <span asp-validation-for="Curso.Nivel" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <strong><label asp-for="Entrenador.EntrenadorId" class="form-label">Entrenador</label></strong>
            <select asp-for="Entrenador.EntrenadorId" asp-items="@Model.EntrenadorList" class="form-select"></select>
            <span asp-validation-for="Entrenador.EntrenadorId" class="text-danger"></span>
        </div>
        <br />

        <div style="width: 360px;" class="container justify-content-center">
            <button type="submit" class="btn btn-success w-100 mb-1">Aceptar</button>
            <a asp-controller="Administrator" asp-action="AllCurso" class="btn btn-secondary w-100 mb-4" >
                Cancelar
            </a>
        </div>
    </form>
</div>
